src/flows/cb5__StandardApprovalProcess.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Ahead</name>
        <label>Ahead</label>
        <locationX>974</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AheadTriggered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.cb5__APAheadTrigger__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.cb5__APAheadTrigger__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.cb5__APAheadTrigger__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_status</targetReference>
            </connector>
            <label>Ahead Status Triggered</label>
        </rules>
        <rules>
            <name>BackTriggered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.cb5__APBackTrigger__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.cb5__APBackTrigger__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.cb5__APAheadTrigger__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Back_Statuses</targetReference>
            </connector>
            <label>Back Status Triggered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Back_Statuses</name>
        <label>Back Statuses</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Submitted2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.cb5__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submitted_Open_0</targetReference>
            </connector>
            <label>Is Submitted</label>
        </rules>
        <rules>
            <name>Is_Approved2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.cb5__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_Open_0</targetReference>
            </connector>
            <label>Is Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_status</name>
        <label>Current status</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.cb5__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Submitted_0</targetReference>
            </connector>
            <label>Is Open</label>
        </rules>
        <rules>
            <name>Is_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.cb5__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submitted_Approved_0</targetReference>
            </connector>
            <label>Is Submitted</label>
        </rules>
    </decisions>
    <interviewLabel>Standard Approval Process {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Standard Approval Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Approved_Open_0</name>
        <label>Approved-&gt;Open</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <filters>
            <field>cb5__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>cb5__APNextStatusName__c</field>
            <value>
                <stringValue>Submit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cb5__APPreviousStatusName__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cb5__Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Open_Submitted_0</name>
        <label>Open-&gt;Submitted</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>cb5__APNextStatusName__c</field>
            <value>
                <stringValue>Approve</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cb5__APPreviousStatusName__c</field>
            <value>
                <stringValue>Reject</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cb5__Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RecordCreated</name>
        <label>Record Created</label>
        <locationX>974</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Ahead</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>null</stringValue>
            </value>
        </filters>
        <filters>
            <field>cb5__Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>cb5__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>cb5__APNextStatusName__c</field>
            <value>
                <stringValue>Submit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cb5__APPreviousStatusName__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cb5__Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Submitted_Approved_0</name>
        <label>Submitted-&gt;Approved</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>cb5__APNextStatusName__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cb5__APPreviousStatusName__c</field>
            <value>
                <stringValue>Reject</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cb5__Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Submitted_Open_0</name>
        <label>Submitted-&gt;Open</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <filters>
            <field>cb5__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>cb5__APNextStatusName__c</field>
            <value>
                <stringValue>Submit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cb5__APPreviousStatusName__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cb5__Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RecordCreated</targetReference>
        </connector>
        <object>cb5__CBBudgetLine__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
