src/flows/sdfs__Apply_FormulaShare_Rules_Synchronous.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_FormulaShare</name>
        <label>Call FormulaShare</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <actionName>sdfs__FormulaShareFlowHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_sharing</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__newRecord</typeName>
            <typeValue>sdfs__FormulaShare_Log__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordsList</typeName>
            <typeValue>sdfs__FormulaShare_Log__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__oldRecord</typeName>
            <typeValue>sdfs__FormulaShare_Log__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__sharesToDelete</typeName>
            <typeValue>sdfs__FormulaShare_Log__Share</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__sharesToInsert</typeName>
            <typeValue>sdfs__FormulaShare_Log__Share</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>assessmentType</name>
            <value>
                <stringValue>transactionSafe</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>calcType</name>
            <value>
                <stringValue>triggered</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldRecord</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sharesTypeName</name>
            <value>
                <stringValue>sdfs__FormulaShare_Log__Share</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <decisions>
        <name>Delete_required</name>
        <label>Delete required?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_FormulaShare.sharesToDelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_sharing</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Evaluate and update FormulaShare sharing when records are created or updated. Just update the object in the Start element, configure the Call FormulaShare apex action, and save and activate a new version of this flow. For full info check https://cloudsundial.com/formulashare-assess-from-record-triggered-flow</description>
    <interviewLabel>FormulaShareFlowTemplate {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Apply FormulaShare Rules</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_sharing</name>
        <label>Create sharing</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Delete_required</targetReference>
        </connector>
        <inputReference>Call_FormulaShare.sharesToInsert</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_sharing</name>
        <label>Delete sharing</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputReference>Call_FormulaShare.sharesToDelete</inputReference>
    </recordDeletes>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Call_FormulaShare</targetReference>
        </connector>
        <object>sdfs__FormulaShare_Log__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
